.parent{
    -fx-background-color: transparent;
}

.pane{
    -fx-background-color: #A91D3A;
}

.button-image:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.scroll-pane {
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-background-color: rgb(0,0,0,0.5);
    -fx-padding: 10px;
}

.scroll-pane .viewport {
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-background-color: TRANSPARENT;
    -fx-padding: 10px;
}

.button-52 {
    -fx-font-size: 16px;
    -fx-font-weight: 200;
    /*-fx-padding: 13px 20px;*/
    -fx-border-color: white;
    -fx-cursor: "HAND";
    -fx-border-width: 1px;
    -fx-background-color: transparent;
    -fx-border-radius: 10;
}

.button-52:hover {
    -fx-background-color: #C73659;
    -fx-position: absolute;
    -fx-transition: top 0.5s, left 0.5s;
    -fx-top: 20px;
    -fx-left: 20px;
    -fx-background-radius: 10;
}

.button-52:hover:hover {
    -fx-top: 20px;
    -fx-left: 20px;
}

@media screen and (min-width: 768px) {
    .button-52 {
        -fx-padding: 13px 50px;
    }
}

.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: #ffffff;
}

.login-menu-vbox {
    -fx-background-color: #000000;
    -fx-opacity: 50%;
    -fx-background-radius: 60;
}

.check-box .box {
    -fx-border-radius:7px;
    -fx-background-radius: 7px;
    -fx-background-color: transparent;
    -fx-border-color:white;


}
.check-box .box:hover{
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-cursor: "HAND";
    -fx-background-color: transparent;
    -fx-border-color:white;


}

.check-box:selected .mark {
    -fx-border-radius:7px;
    -fx-background-radius: 7px;
    -fx-cursor: "HAND";
    -fx-background-color: white;

}

.check-box:selected .box {
    -fx-border-radius:7px;
    -fx-background-radius: 7px;
    -fx-cursor: "HAND";
    -fx-background-color: #C73659;
}

.image {
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-cursor: "HAND";
}